body {
  margin: 0;
  font-family: 'Vollkorn', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 255, 144);
}

*{
  font-family: 'Vollkorn', serif;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  
}

header {
  border-bottom: 1px solid #e6e2e2;
  img{
    margin-right: 10px;
  }

  h3, 
  p{
    margin: 0;
  }

}

.content {
  h1{
    margin: 0;
  }
}


  /*img{
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
  }*/


.search-block{
  border: 1px solid #e6e2e2;
  border-radius: 20px;
  padding: 0 15px;

  input{
    border: 0;
    padding: 12px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0,0, 0.1); 
  padding: 30px;
  display: flex;
  flex-direction: column;

  .Items{
    overflow: auto;
    margin-bottom: 40px;
  }


  h2{
    margin: 0;
    font-size: 24px;

    
  }

  .Items{
    flex: 1;
  }
}
.cartTotalBlock{
  ul{
    margin-bottom: 40px;

    li{
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
  
      div {
        flex: 1;
        height: 1px;
        border: 1px dashed #ccc;
        position: relative;
        top: -4px;
        margin: 0 6px;
      }
    }
  }

  .greenButton{
    position: relative;
    
    &:hover{
      img{
        transform: translateX(5px);
      }
    }

    img{
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 200ms ease-in-out;
    }
    
  }
  
}

.cart__item {
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  padding:20px;

  .cart__itemImg{
    width: 70px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
  }

  p{
    font-size: 16px;
    margin: 0;
  }

  b{
    font-size: 14px;
  }

  .remove__btn{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;

    &:hover{
      opacity: 1;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background-color: rgb(157, 255, 96);
  color: #333;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease-in-out;
  

  &:hover{
    background-color: rgb(181, 255, 135);
  }

  &:active{
    background: rgb(131, 251, 56);
  }
}